.emotion-wheel-container {
  position: relative;
  height: 100%;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emotion-corner {
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease;
  filter: brightness(0.5);
  opacity: 1;
  z-index: 99;

}

.emotion-corner.active {
  opacity: 1;
  filter: brightness(1);
  box-shadow: 0 0 15px currentColor;
  background-color: color-mix(in srgb, currentColor 50%, transparent);
}

.top-left {

  /* Green for Happy */
  color: #4CAF50;
  top: 25px;
  left: 75px;
}

.top-right {
  /* Red for Angry */
  color: #F44336;
  top: 25px;
  right: 75px;
}

.bottom-left {
  /* Blue for Sad */
  color: #2196F3;
  bottom: 25px;
  left: 75px;
}

.bottom-right {
  /* Yellow for Surprised */
  color: #FFEB3B;
  bottom: 25px;
  right: 75px;
}

.face {
  width: 80%;
  height: 80%;
}

.icon {
  width: 100%;
  height: 100%;
}

.center-text {
  text-align: center;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload-btn {

  background-color: transparent;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s;
}

.upload-btn:hover {
  background-color: #0077b3;
}

.center-label {
  font-weight: bold;
  font-size: 0.9rem;
}

.analyzing-text {
  color: white;
  font-weight: bold;
  animation: pulse 1.5s infinite;
}

.img-container {
  width: 80%;
  height: 80%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.6;
}

.center-border {
  position: absolute;
  width: 94%;
  height: 1200px;
  overflow: hidden;
  border: 4px solid white;
  border-radius: 50%;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
