@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-text-stroke: 2px #59bee3;
  font-size: 38px;
  font-weight: 800;
}
